<head>
  <link rel="stylesheet" href="stylesheets/home.css" />
  <link rel="stylesheet" href="stylesheets/header.css" />
</head>

<header class="header-section overflow-auto">
  <div class="d-flex flex-row px-3">
    <div class="div-logo">
      <a class="site-logo" href="/">
        <img src="img/medalha.png" width="60px" alt="Logo GoChamp" />
        <h2 class="text-logo">GoChamp</h2>
      </a>
    </div>
    <nav class="main-menu d-flex align-items-center justify-content-end px-4">
      <ul class="m-0">
        <li><a href="/login">Login</a></li>
        <li><a href="/user-register">Cadastro</a></li>
        <li><a href="#campeonatos-disponiveis">Campeonatos disponíveis</a></li>
        <li><a href="#ultimos-resultados">Ultimos resultados</a></li>
        <li><a href="#sobre">Sobre</a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- apresentacao section -->
<section class="presentention set-bg row text-white align-items-center justify-content-center w-100 p-0 m-0" data-setbg="img/e-sports.jpeg" style="min-height: 100vh;">
    <div class="container-fluid p-0 h-100">
      <div class="row col-12 col-md-6 m-0 align-content-center gradientDarkGrey-bg"
        style="min-height: 100vh;">
        <div data-aos="fade-up">
          <h1>
            Gerencie seus campeonatos
          </h1>
          <p>
            A GoChamp é uma plataforma para gerenciamento de campeonatos,
            desenvolvida como uma solução para ajudar os jogadores a organizar seus
            campeonatos.
          </p>
        </div>
      </div>
    </div>
</section>

<!-- Latest news section -->
<section class="d-flex align-items-center justify-content-start">
  <div class=" bg-warning col-4 col-md-3 text-center d-flex align-items-center justify-content-center" style="height: 5rem;">Top Campeões</div>
  <div class="news-ticker">
    <div class="news-ticker-contant">
      <div class="nt-item">
        <span class="new">CS:GO</span>
        Matilhaça 15 vitórias.
      </div>
      <div class="nt-item">
        <span class="strategy">Valorant</span>
        Detona 20 vitórias.
      </div>
      <div class="nt-item">
        <span class="racing">Rocket league</span>
        miHue 10 vitórias.
      </div>
    </div>
  </div>
</section>

<!-- campeonatos disponiveis -->
<section id="campeonatos-disponiveis" class="container-fluid pattern py-5 inset-shadow">
    <div class="row">
      <h2 class="section-title"><a name="campeonatos-disponiveis"></a>Campeonatos disponiveis</h2>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-aos="fade-up">
        <div class="carousel-inner py-4">
          {{#each paginasCampeonato}}
          <div class="carousel-item {{#if @first}}active{{/if}}">
            <div class="container-fluid">
              <div class="row g-4 align-items-center m-0">
                {{#each this}}
                <div class="col-md-3 mb-4" style="height: 20rem;">
                  <div class="col-12 set-bg rounded m-2 card-hover" data-setbg={{bg}}>
                    <div class="fi-content text-white">
                      {{!-- <h4 class="cata strategy">{{jogo}}</h4> --}}

                      <div class="fi-div m-4">
                        <h5><a href="#" style="color: #fff">{{nome}}</a></h5>
                        <p>{{quantidadeTimesInscritos}}/{{quantidadeTimes}} times</p>
                        <a type="button" class="btn btn-warning" href="#">
                          Inscrever-se
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
          </div>
          {{/each}}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
</section>

<!-- Ultimos resultados -->
<section id="ultimos-resultados" class="container-fluid results-section overflow-hidden">
  <h2 class="section-title" data-aos="fade-up"><a name="ultimos-resultados"></a>Últimos resultados</h2>
  <div class="container-fluid p-0">
    <div class="row g-3 justify-content-evenly">
    {{#each ultimosResultados}}
      <div class="col-12 col-lg-4 pb-4 pb-sm-6" data-aos="fade-left">
        <div class="card-ultimo_resultados inset-shadow border border-warning">
          <h3 class="jogo-ultimos_resultados bg-warning bg-gradient position-relative">{{jogo}}</h3>
          <h4 style="text-align: center "><a href="#" class="text-warning">{{nome}}</a></h4>
          <div class="d-grid px-3">
            <ul class="text-white" style="list-style: none; padding:0">
              <li><span>Inicio do campeonato: </span> {{dataInicio}}</li>
              <li><span>Final do campeonato: </span> {{dataFim}} </li>
              <li><span>Participantes: </span>{{quantidadeTimes}} times</li>
              <li>
                <span>Criador do campeonato: </span><a href="#">{{criadorCampeonato}}</a>
              </li>
              <li>
                Ganhadores: {{#each ganhadores}}<span style="margin-right: 1rem">{{this}}</span>{{/each}}
              </li>
              <li class="text-white">{{premiacao}}</li>
            </ul>
            <a type="button" class="btn btn-warning align-slef-center mb-3" href={{url}}>Link do Campeonato</a>
          </div>
        </div>
      </div>
    {{/each}}
    </div>
  </div>
</section>

<section class="about position-relative overflow-hidden bg-dark inset-shadow" id="sobre" >
    <img src="img/ryu.png" class="position-absolute ryu-about" data-aos="fade-right"/>
    <img src="img/csgo_about.png" class="position-absolute csgo-about" data-aos="fade-left"/>
  <div class="container py-4">
      <div class="row align-content-center align-content-md-start col-12 col-md-6 p-0 m-0" data-aos="fade-up" style="min-height: 40rem;">
        <h2 class="about-title"><a name="sobre"></a>Sobre nós</h2>
        <p class="about-text">
            A equipe começou os trabalhos em 2022 com o intuito de fazer um
            sistema para um trabalho de faculdade e até então seguimos adicionando
            novas funcionalidades.
        </p>
        <p class="about-text">
            Nossa equipe está a disposição em caso de duvidas ou sugestões no
            email <a href="gochamp@gochamp.com">gochamp@gochamp.com</a>.
        </p>
      </div>
  </div>
</section>

<section class="footer-top-section">
  <div class="container-fluid" data-aos="fade-in">
    <div class="row justify-content-evenly">
      <div class="col-lg-4">
        <div class="div-logo footer-logo">
          <img src="img/medalha.png" alt="Logo GoChamp" />
          <h2 class="text-logo">GoChamp</h2>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 aling-self-end">
        <div class="footer-widget">
          <h4 class="fw-title">Comentários</h4>
          <div class="top-comment">
            <div class="tc-item">
              <div
                class="tc-thumb set-bg"
                data-setbg="img/authors/1.jpg"
              ></div>
              <div class="tc-content">
                <p>
                  <a href="#">James Smith</a>
                  <span>on</span>
                  Lorem ipsum dolor sit amet, co
                </p>
                <div class="tc-date">June 21, 2018</div>
              </div>
            </div>
            <div class="tc-item">
              <div
                class="tc-thumb set-bg"
                data-setbg="img/authors/2.jpg"
              ></div>
              <div class="tc-content">
                <p>
                  <a href="#">James Smith</a>
                  <span>on</span>
                  Lorem ipsum dolor sit amet, co
                </p>
                <div class="tc-date">June 21, 2018</div>
              </div>
            </div>
            <div class="tc-item">
              <div
                class="tc-thumb set-bg"
                data-setbg="img/authors/3.jpg"
              ></div>
              <div class="tc-content">
                <p>
                  <a href="#">James Smith</a>
                  <span>on</span>
                  Lorem ipsum dolor sit amet, co
                </p>
                <div class="tc-date">June 21, 2018</div>
              </div>
            </div>
            <div class="tc-item">
              <div
                class="tc-thumb set-bg"
                data-setbg="img/authors/4.jpg"
              ></div>
              <div class="tc-content">
                <p>
                  <a href="#">James Smith</a>
                  <span>on</span>
                  Lorem ipsum dolor sit amet, co
                </p>
                <div class="tc-date">June 21, 2018</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>