<div
  class="d-md-flex flex-md-row align-items-center text-white justify-content-center gap-4 py-3"
>
  <form
    class="col-12 col-md-4 py-4"
    id="form"
    name="form"
    class="form"
    enctype="multipart/form-data"
  >
    <div class="form-group">
      <label for="name">Nome do time</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Nome do time"
      />
    </div>
    <div class="form-group">
      <div class="form-group my-3">
        <label for="games">Jogo</label>
        <select class="form-control" name="game" id="game" form="form">
          <option value="Counter-Strike: Global Offensive">Counter-Strike:Global
            Offensive</option>
          <option value="Rocket League">Rocket League</option>
          <option value="Street figth">Street figth</option>
          <option value="League of legends">League of legends</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Foto de perfil</label>
      <input
        type="file"
        class="form-control"
        id="image"
        name="image"
        placeholder="Foto de perfil do time"
      />
    </div>
    <div>
      <div id="error"></div>
      <input
        type="submit"
        class="btn btn-warning btn-block my-3 px-5"
        value="Cadastrar"
      />
    </div>
  </form>
  <section class="col-12 col-md-7 py-4">
    <h2 class="text-center">Todos os Times</h2>
    <div
      class="container-fluid w-100 bg-dark rounded overflow-scroll py-3"
      style="height: 300px;"
    >
      <div class="row g-3">
        {{#each teams}}
          <div class="d-flex flex-row justify-content-between inset-shadow p-3">
            <img
              class="rounded"
              src="/img/teams_img_profiles/{{imgProfileDir}}"
              alt="{{name}}"
              height="80px"
              width="80px"
            />
            <div class="col-5">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{game}}</p>
            </div>
            <div class="d-flex col-3 align-items-center">
              <a href="/teams/{{name}}" class="btn btn-warning w-100">Ver time</a>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </section>
</div>

<script src="/javascripts/teamRegister.js"></script>