<section class="container-fluid presentention set-bg" data-setbg="img/e-sports.jpeg">
  <div class="row h-100 text-white align-items-center justify-content-center">
    <div class="container p-4" data-aos="fade-up">
      <h1>
        A melhor plataforma para gerenciar seus
        <span>Campeonatos</span>
      </h1>
      <p>
        A GoChamp é uma plataforma para gerenciamento de campeonatos,
        desenvolvida como uma solução para ajudar os jogadores a organizar seus
        campeonatos.
      </p>
    </div>
  </div>
</section>

<!-- Latest news section -->
<section class="latest-championships-section">
  <div class="lc-title">Top Campeões</div>
  <div class="news-ticker">
    <div class="news-ticker-contant">
      <div class="nt-item">
        <span class="new">CS:GO</span>
        Matilhaça 15 vitórias.
      </div>
      <div class="nt-item">
        <span class="strategy">Valorant</span>
        Detona 20 vitórias.
      </div>
      <div class="nt-item">
        <span class="racing">Rocket league</span>
        miHue 10 vitórias.
      </div>
    </div>
  </div>
</section>

<!-- campeonatos disponiveis -->
<section class="container-fluid inset-shadow set-bg py-5" data-setbg="img/pattern.png">
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" data-aos="fade-up">
    <h2 class="section-title">Campeonatos disponiveis</h2>
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"/>
      <li data-target="#multi-item-example" data-slide-to="1"/>
    </ol>
    <div class="carousel-inner" role="listbox">
      {{#each paginasCampeonato}}
        <div class="carousel-item {{#if @first}}active{{/if}}">
          <div class="row g-3">
            {{#each this}}
              <div class="col-md-3" style="height: 25rem;">
                <div class="col-12 col-md-3 h-100 w-100 set-bg" data-setbg="img/medalha.png" >
                  <div class="fi-content text-white">
                    <span class="cata strategy">{{jogo}}</span>
                    <h5><a href="#">{{nome}}</a></h5>
                    <div class="fi-div">
                      <p>{{quantidadeTimesInscritos}}/{{quantidadeTimes}} times</p>

                      <a type="button" class="btn btn-primary" href="#">
                        Inscrever-se
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>

<!-- Tournaments section -->
<section class="results-section">
  <h2 class="section-title" data-aos="fade-up">Últimos resultados</h2>
  <div class="container" data-aos="zoom-out-up">
    {{! <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-4"> }}
      <div class="grid" style="--bs-rows: 2; --bs-columns: 2; --bs-gap: 1.5rem;">
        {{#each ultimosResultados}}
        <div class="tournament-item inset-shadow set-bg" data-setbg="img/medalha.png">
          <h3 class="ti-notic">{{jogo}}</h3>
          <div class="ti-content">
            <div class="ti-text">
              <h4>{{nome}}</h4>
              <ul>
                <li><span>Inicio do campeonato: </span> {{dataInicio}}</li>
                <li><span>Final do campeonato: </span> {{dataFim}} </li>
                <li><span>Participantes: </span>{{quantidadeTimes}} times</li>
                <li>
                  <span>Criador do campeonato: </span><a href="#">{{criadorCampeonato}}</a>
                </li>
              </ul>
              <p><span>Prêmios: </span>{{premiacao}}</p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
  </div>
</section>

<!-- Review section -->
<section class="review-section">
  <div class="container">
    <h2 class="section-title" data-aos="fade-up">Jogos de hoje</h2>
    <div class="review-row" data-aos="fade-down">
      <div class="card flex-gradient-DarkGrey-bg" style="width: 18rem">
        <img class="card-img-top" src="img/medalha.png" alt="Card image cap" />
        <div class="card-body">
          <h3 class="card-title">CS:GO</h3>
          <h4>Matilhaça x Detona</h4>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">Dust 2: 16 x 10</li>
            <li class="list-group-item">Inferno: 09 x 16</li>
            <li class="list-group-item">Nuke: 16 x 10</li>
          </ul>
          <a href="#" class="btn btn-primary">Placar completo</a>
        </div>
      </div>
      <div class="card flex-gradient-DarkGrey-bg" style="width: 18rem">
        <img class="card-img-top" src="img/medalha.png" alt="Card image cap" />
        <div class="card-body">
          <h3 class="card-title">CS:GO</h3>
          <h4>Matilhaça x Detona</h4>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">Dust 2: 16 x 10</li>
            <li class="list-group-item">Inferno: 09 x 16</li>
            <li class="list-group-item">Nuke: 16 x 10</li>
          </ul>
          <a href="#" class="btn btn-primary">Placar completo</a>
        </div>
      </div>
      <div class="card flex-gradient-DarkGrey-bg" style="width: 18rem">
        <img class="card-img-top" src="img/medalha.png" alt="Card image cap" />
        <div class="card-body">
          <h3 class="card-title">CS:GO</h3>
          <h4>Matilhaça x Detona</h4>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">Dust 2: 16 x 10</li>
            <li class="list-group-item">Inferno: 09 x 16</li>
            <li class="list-group-item">Nuke: 16 x 10</li>
          </ul>
          <a href="#" class="btn btn-primary">Placar completo</a>
        </div>
      </div>
    </div>
  </div>
</section>