<!-- apresentacao section -->
<section class="presentention set-bg row text-white align-items-center justify-content-center w-100 p-0 m-0" data-setbg="img/e-sports.jpeg">
    <div class="container" data-aos="fade-up">
      <h1>
        A melhor plataforma para gerenciar seus
        <span>Campeonatos</span>
      </h1>
      <p>
        A GoChamp é uma plataforma para gerenciamento de campeonatos,
        desenvolvida como uma solução para ajudar os jogadores a organizar seus
        campeonatos.
      </p>
    </div>
</section>

<!-- Latest news section -->
<section class="latest-championships-section">
  <div class="lc-title">Top Campeões</div>
  <div class="news-ticker">
    <div class="news-ticker-contant">
      <div class="nt-item">
        <span class="new">CS:GO</span>
        Matilhaça 15 vitórias.
      </div>
      <div class="nt-item">
        <span class="strategy">Valorant</span>
        Detona 20 vitórias.
      </div>
      <div class="nt-item">
        <span class="racing">Rocket league</span>
        miHue 10 vitórias.
      </div>
    </div>
  </div>
</section>

<!-- campeonatos disponiveis -->
<section class="container-fluid inset-shadow set-bg py-5" data-setbg="img/pattern.png">
  <h2 class="section-title">Campeonatos disponiveis</h2>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-aos="fade-up">
    <div class="carousel-inner">
      {{#each paginasCampeonato}}
      <div class="carousel-item {{#if @first}}active{{/if}}">
        <div class="row g-3">
          {{#each this}}
          <div class="col-md-3" style="height: 25rem;">
            <div class="col-12 col-md-3 h-100 w-100 set-bg" data-setbg="img/medalha.png">
              <div class="fi-content text-white">
                <span class="cata strategy">{{jogo}}</span>

                <div class="fi-div">
                  <h5><a href="#">{{nome}}</a></h5>
                  <p>{{quantidadeTimesInscritos}}/{{quantidadeTimes}} times</p>
                  <a type="button" class="btn btn-primary" href="#">
                    Inscrever-se
                  </a>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      {{/each}}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!-- Ultimos resultados -->
<section class="container-fluid results-section">
  <h2 class="section-title" data-aos="fade-up">Últimos resultados</h2>
  <div class="container-fluid pb-4 overflow-hidden">
    <div class="row g-3 justify-content-evenly">
        {{!-- <div class="grid" style="--bs-gap: 1rem;"> --}}
        {{#each ultimosResultados}}
          <div class="row g-3 justify-content-evenly" data-aos="zoom-out-up">
            {{#each this}}
            <div class="col-12 col-lg-4 ">
              <div class="card-ultimo_resultados inset-shadow border border-warning">
                <h3 class="jogo-ultimos_resultados bg-warning bg-gradient position-relative">{{jogo}}</h3>
                <h4 style="text-align: center "><a href="#" class="text-warning">{{nome}}</a></h4>
                <div class="d-grid px-3">
                  <ul class="text-white" style="list-style: none; padding:0">
                    <li><span>Inicio do campeonato: </span> {{dataInicio}}</li>
                    <li><span>Final do campeonato: </span> {{dataFim}} </li>
                    <li><span>Participantes: </span>{{quantidadeTimes}} times</li>
                    <li>
                      <span>Criador do campeonato: </span><a href="#">{{criadorCampeonato}}</a>
                    </li>
                    <li>
                      Ganhadores: {{#each ganhadores}}<span style="margin-right: 1rem">{{this}}</span>{{/each}}
                    </li>
                    <li class="text-white">{{premiacao}}</li>
                  </ul>
                  <a type="button" class="btn btn-warning align-slef-center mb-3" href={{url}}>Link do Campeonato</a>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        {{/each}}
    </div>
  </div>
</section>
